#table_filter {
    padding-top: 3px;
    padding-right: 3px;
}

.soldiers {
    background-color: #FFA500;
}

.tanks {
    background-color: #32CD32;
}

.planes {
    background-color: #87CEFA;
}

.ships {
    background-color: #DA70D6;
}

.red {
    background-color: red;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.aqua {
    background-color: aqua;
    color: black;
}

.blue {
    background-color: darkblue;
    color: white;
}

.brown {
    background-color: brown;
    color: white;
}

.green {
    background-color: darkgreen;
    color: white;
}

.lime {
    background-color: lime;
    color: black;
}

.maroon {
    background-color: maroon;
    color: white;
}

.olive {
    background-color: olive;
    color: black;
}

.orange {
    background-color: orange;
    color: black;
}

.pink {
    background-color: pink;
    color: black;
}

.purple {
    background-color: purple;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.gray {
    background-color: gray;
    color: black;
}

.beige {
    background-color: beige;
    color: black;
}