<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: head (${title})"></div>
<body>
<div th:replace="base :: nav"></div>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form class="m-2" method="get">
                    <div class="input-group mb-3">
                        <input aria-describedby="go" aria-label="Alliance ID" class="form-control" id="id" name="id"
                               placeholder="Alliance ID"
                               type="number">
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-raised" id="load" type="submit">Load</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row>">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered" id="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 2%">#</th>
                            <th scope="col" style="width: 3%">ID</th>
                            <th scope="col" style="width: 12%;">Nation Name</th>
                            <th scope="col" style="width: 12%">Leader Name</th>
                            <th scope="col" style="width: 5%">Score</th>
                            <th scope="col" style="width: 2%">Cities</th>
                            <th scope="col" style="width: 2%">D Wars</th>
                            <th scope="col" style="width: 2%">O Wars</th>
                            <th scope="col" style="width: 5%">Soldiers</th>
                            <th scope="col" style="width: 3%">%</th>
                            <th scope="col" style="width: 5%">Tanks</th>
                            <th scope="col" style="width: 3%">%</th>
                            <th scope="col" style="width: 3%">Planes</th>
                            <th scope="col" style="width: 3%">%</th>
                            <th scope="col" style="width: 3%">Ships</th>
                            <th scope="col" style="width: 3%">%</th>
                            <th scope="col" style="width: 3%">M</th>
                            <th scope="col" style="width: 3%">N</th>
                            <th scope="col" style="width: 7%">O Range</th>
                            <th scope="col" style="width: 7%">D Range</th>
                            <th scope="col" style="width: 3%">War Policy</th>
                            <th scope="col" style="width: 3%">Color</th>
                            <th scope="col" style="width: 2%">VM</th>
                            <th scope="col" style="width: 3%">Last Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="nation" type="io.github.l0llygag.poscaweb.database.models.Nation"*/-->
                        <tr th:each="nation,iterator : ${nations}">
                            <th scope="row" th:text="${iterator.index + 1}"></th>
                            <td th:text="${nation.getNationId()}"></td>
                            <td>
                                <a target="_blank"
                                   th:href="${#strings.concat('https://politicsandwar.com/nation/id=',nation.getNationId())}"
                                   th:text="${nation.getNation()}"></a>
                            </td>
                            <td th:text="${nation.getLeader()}"></td>
                            <td th:text="${nation.getScore()}"></td>
                            <td th:text="${nation.getCities()}"></td>
                            <td th:text="${nation.getDefensiveWars()}"></td>
                            <td th:text="${nation.getOffensiveWars()}"></td>
                            <td class="soldiers" th:text="${nation.getSoldiers()}"></td>
                            <td class="soldiers" th:text="${nation.getSoldiersPercentage()}"></td>
                            <td class="tanks" th:text="${nation.getTanks()}"></td>
                            <td class="tanks" th:text="${nation.getTanksPercentage()}"></td>
                            <td class="planes" th:text="${nation.getAircraft()}"></td>
                            <td class="planes" th:text="${nation.getAircraftPercentage()}"></td>
                            <td class="ships" th:text="${nation.getShips()}"></td>
                            <td class="ships" th:text="${nation.getShipsPercentage()}"></td>
                            <td th:text="${nation.getMissiles()}"></td>
                            <td th:text="${nation.getNukes()}"></td>
                            <td th:text="${#strings.concat(#numbers.formatDecimal(nation.getScore() * 0.7500,2,2),' - ',#numbers.formatDecimal(nation.getScore() * 1.7500,2,2))}"></td>
                            <!-- TODO change range -->
                            <td th:text="${#strings.concat(#numbers.formatDecimal(nation.getScore() * 0.5713,2,2),' - ',#numbers.formatDecimal(nation.getScore() * 1.3333,2,2))}"></td>
                            <td th:text="${nation.getWarPolicy()}"></td>
                            <td th:classappend="${nation.getColor()}" th:text="${nation.getColor()}"></td>
                            <td th:text="${nation.getVacMode()}"></td>
                            <td th:text="${nation.getMinutesSinceActive()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="base :: scripts"></div>
</body>
</html>