<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${#strings.concat(title,' - PoscaWeb')}"></title>
    <link rel="icon" th:src="@{/favicon.ico}" type="image/ico">

    <link crossorigin="anonymous"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header th:fragment="nav">
    <ul class="nav nav-tabs bg-dark">
        <li class="m-3 mr-auto">
            <img alt="PoscaWeb" class="rounded-circle" height="32px" id="logo" src="../static/favicon.png"
                 th:src="@{/favicon.png}" width="32px"/>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
               th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(),'aa-nations') ? 'active':''}"
               th:href="@{/aa-nations/}">Alliance Nations</a>
        </li>
    </ul>
</header>

</body>
</html>